Source: anyxporter
Section: user/other
Priority: optional
Maintainer: Tero Hasu <tero.hasu@ii.uib.no>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: https://github.com/bldl/anyxporter

Package: anyxporter
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Anyxporter
 An application for exporting PIM data.
 Intended to have multiple alternative backends for
 different data sources, implemented for different
 platforms, too. With scriptable export file format.
XSBC-Maemo-Display-Name: anyxporter
